:global {
  html.no-speechrecognition {
	.icon-speech-recognition {
	  display: none;
	}
  }

  .icon-speech-recognition {
	position: relative;
	display: inline-block;
	width: 41px;
	height: 41px;
	float: right;
	margin-top: -41px;
	background: url("../img/mic_white.svg") no-repeat center center;
	background-size: 24px 24px;
	cursor: pointer;
	opacity: .6;
	@include transition();
	&:hover {
	  opacity: 1;
	}
  }
}